# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Node
node_modules/
dist/
dist-ssr/
*.local

# System
.DS_Store
Thumbs.db

# Electron & Builds
release/
dist/
RoFlow-*/
*.pak
*.bin
*.exe
*.log
